*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a,a:hover,a:visited{
    color: #000;
}

header{
    padding: 0 auto;
    background: rgb(255, 217, 47);
    height: 88px;
}
.header-inner,.banner-inner{
    width: 1200px;
    margin: 0 auto;
}
.header-inner h1{
    float: left;
    line-height: 88px;
}
.header-inner ul{
    float: right;
}
.header-inner ul li{
    display: inline;
    margin-right: 8px;
    line-height: 88px;
}

.banner{
    background-color: rgb(151, 151, 151);
}
.banner-inner{
    height: 200px;
    position: relative;
}
.banner ul {
    position: absolute;
    height: 40px;
    right: 0;
    bottom:10px;
}
.banner ul li{
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid rgb(0, 0, 0);
    background: rgba(255, 255, 255,0.4);
}
.banner ul li:nth-of-type(2){
    padding-top: 8px;
}
.banner ul li a{
    text-decoration: none;
    
}

.nav{
    border-bottom: 1px solid #999;
}
.nav-inner{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 80px;
}
.nav-inner ul{
    position: absolute;
    left: 0px;
    bottom: -1px;
    font-size: 0;
}
.nav-inner ul li{
    font-size: 16px;
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid #999;
    background: rgb(219, 219, 219);
    border-bottom: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin: 0px;
}
.nav-inner ul li:nth-of-type(1){
    background: #fff;
    border-bottom: 1px solid #fff;
}
.container{
    width: 1200px;
    margin: 10px auto;
}
.row{
    display: flex;
    justify-content: space-between;
}
.row-inner{
    /* flex:1 使每个子集的大小都设为一样 */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 200px;
    height: 200px;
    border: 1px solid #999;
    margin: 5px;
}
.row-inner:last-child{
    margin-right: 0px;
}
.row-inner:first-child{
    margin-left: 0px;
}

footer{
    height: 120px;
    text-align: center;
    background: rgb(66, 66, 66);
    padding-top: 20px;
}