*{
    box-sizing: border-box;
    margin: 0;
    padding: 0；
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    font-size: 14px;
}
.menu{
    height: 100%;
    width: 350px;
    display: flex;
}
.menu-left{
    position: relative;
    float: left;
    width: 100px;
    /* 设置高度自适应浏览器高度 */
    min-height: 100%;
    background: #1d2531;
    height: auto;
}
.left-iconteam{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    text-align: center;
}
.left-icon{
    position: relative;
    height: 60px;
    margin-top: 20px; 
}
.left-icon img{
    width: 60px;
    height: 60px;
}
.left-icon .h-light img{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 14px;
    height: 60px;
}
.left-icon:hover .h-light img{
    display: block;
}
.left-bottom{
    position: absolute;
    bottom: 24px;
    text-align: center;
}
.left-bottom a{
    margin: 0 10px;
}

.menu-right{
    position: relative;
    float: left;
    width: 250px;
    min-height: 100%;
    background: #222c3c;
}
.menu-team{
    margin: 14px 30px 30px;
}
.team-child{
    color: #b7c0cd;
    border-bottom: 0.5px solid #2a3547;
    padding: 16px 0;
}
.team-child ul{
    list-style: none;
    display: inline-block;
    padding-left: 0;
    font-size: 14px;
}
.team-child ul li{
    position: relative;
    width: 190px;
    line-height: 36px;
}
.team-child ul .li-head{
    color: #5b6779;
}
.team-child ul li .seting{
    position: absolute;
    right: 0;
    top: 10px;
}
.team-child ul li .num{
    position: absolute;
    right: 0;
    top: 6px;
    line-height: 20px;
    background: linear-gradient(to bottom,#2ea1f8,#1991eb);
    color: #fff;
    padding: 2px 10px;
    border-radius: 12px;
}
.team2 ul{
    display: flex;
    flex-flow: column;
}
.team2 .li-icon{
    width: 18px;
    height: 18px;
}
.team2 ul li{
    display: flex;
    align-items: center;
}
.team2 ul .li-icon{
    margin-right: 10px;
}

.team3 ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-rb{
    position: absolute;
    bottom: 24px;
    left: 30px;
    width: 190px;
    font-size: 14px;
    color: #fff;
}
.rb-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.menu-rb .line-bg{
    height: 4px;
    width: 190px;
    background: rgba(71, 83, 100, 0.3);
    border-radius: 2px;
}
.line-bg .line-inner{
    height: 4px;
    width: 48px;
    background: linear-gradient(to right,#7f5be6,#9d8fe3);
    border-radius: 2px;
}

/* main */
.main{
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    position: relative;
    color: #585d68;
}
.main-header{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    min-width: 100%;
    padding: 0 30px;
    border-bottom: 1px solid #e6e9ec;
    align-items: center;
    justify-content: space-between;
}
.header-left{
    font-size: 24px;
    font-weight: bold;
}
.header-right{
    display: flex;
    align-items: center;
}
.right-img{
    position: relative;
    width: 50px;
    height: 50px;
    background: url(image/Userpic1.png);
    border-radius: 25px;
    background-size: cover;
}
.right-img::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 8px;
    width: 18px;
    height: 18px;
}
.right-img::after{
    content: '';
    position: absolute;
    right: 2px;
    bottom: 2px;
    border-radius: 50%;
    border: 3px solid #38a76a;
    width: 8px;
    height: 8px;
}
.header-right .user{
    margin: 0 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-size: 14px;
}
.user p:nth-of-type(1){
    font-weight: bold;
    color: #2399f1;
}
.user p:nth-of-type(2){
    color: #b5b5b5;
}
.dropDown{
    width: 11px;
    height: 7px;
    background: url(image/dropdown.png);
}

/* main-left */
.main-left{
    display: flex;
    flex-flow: column;
    width: 400px;
    border-right: 1px solid #e6e9ec;
    height: 100%;
}
.main-left .search{
    height: 70px;
    vertical-align: center;
    border-bottom: 1px solid #e6e9ec;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search .search-inner{
    display: flex;
    width: 340px;
    height: 36px;
    border: 1px solid #e6e9ec;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.search-inner input{
    border: none;
    outline: none;
    width: 280px;
    
}
.user-team{
    overflow: auto;
    flex: 1;
}
/* 在盒子上添加样式，把滚动条隐藏，这种CSS3方法目前不兼容火狐和IE浏览器 
    第二种方法是在外面再套一层DIV宽度比内容小一点overflow：hidden 通过隐藏内容隐藏滚动条
*/
.user-team::-webkit-scrollbar{
    display: none;
}
.item{
    display: flex;
    width: 400px;
    height: 130px;
    padding: 15px 30px;
    flex-flow: column;
    justify-content: space-between;
    border-bottom: 1px solid #e6e9ec;
}
.item-user{
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;
}
.user-photo{
    display: flex;
    align-items: center;
}
.item-user .photo{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 20px;
}
.item1 .photo{
    background: url(image/Userpic4.png);
    background-size: cover;
}
.item2 .photo{
    background: url(image/Userpic2.png);
    background-size: cover;
}
.item3 .photo{
    background: url(image/Userpic3.png);
    background-size: cover;
}
.item4 .photo{
    background: url(image/Userpic4.png);
    background-size: cover;
}
.item5 .photo{
    background: url(image/Userpic1.png);
    background-size: cover;
}
.item6 .photo{
    background: url(image/Userpic2.png);
    background-size: cover;
}
.item7 .photo{
    background: url(image/Userpic3.png);
    background-size: cover;
}
.photo-name .name-head{
    display: flex;
    align-items: center;
}
.name-head .head-radius{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2399f1;
    margin-right: 8px;
}
.photo-name p:nth-of-type(1){
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
}
.photo-name p:nth-of-type(2){
    color: #b5b5b5;
}
.item1 .photo-name p:nth-of-type(1){
    color: #2399f1;
}
.item-user .user-position{
    position: absolute;
    right: 0;
    color: #7f8fa4;
}
.item .item-info{
    color: #585d68;
    line-height: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 文本限行，多出部分省略 */
.item .item-info p{
    /* word-break: break-all; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* 这个border-radius给50%百分比一个数字显示没问题，但二位数医生形状会拉伸成椭圆，给具体像素就没问题 */
.item .item-info .info-num{
    color: #fff;
    background: #2399f1;
    padding: 2px 8px;
    border-radius: 12px;
    margin-left: 10px;
}

/* main-right */
.main-right{
    flex: 1;
    display: flex;
    flex-flow: column;
}
.message-top{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #e6e9ec;
    padding: 0 20px 0 30px;
}
.mes-top-l{
    display: flex;
    align-items: center;
}
.mes-top-l p{
    font-size: 18px;
    font-weight: bold;
}
.mes-top-l .mes-top-radius{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #1bb934;
    margin-left: 20px;
}
.mes-top-r,.mes-btn{
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.mes-btn{
    background: linear-gradient(to bottom,#fff,#f1f3f7);
    border-radius: 4px;
    border: 1px solid #e6e9ec;
}
.mes-top-r .btn{
    width: 36px;
    height: 32px;
}
.mes-btn .btn-user{
    background: url(image/Usericon.png) no-repeat center;
}
.mes-btn .btn-upload{
    background: url(image/Uploadicon.png) no-repeat center;
    border-left: 1px solid #e6e9ec;
    border-right: 1px solid #e6e9ec;
}
.mes-btn .btn-del{
    background: url(image/Trashicon.png) no-repeat center;
}
.mes-top-r .mes-page{
    margin: 0 20px;
    padding-left: 20px; 
    font-weight: bold;
    border-left: 1px solid #e6e9ec;
    color: #7f8fa4;
}
.mes-turn{
    display: flex;
    background: linear-gradient(to bottom,#fff,#f1f3f7);
    border-radius: 4px;
    border: 1px solid #e6e9ec;
}
.mes-turn .btn-left{
    background: url(image/Arrowleft.png) no-repeat center;
    border-right: 1px solid #e6e9ec;
}
.mes-turn .btn-right{
    background: url(image/Arrowright.png) no-repeat center;
}

/* message main */
.message-main{
    overflow: auto;
    flex: 1;
}
/* 隐藏滑动条 */
.message-main::-webkit-scrollbar{
    display: none;
}
.mes-list{
    position: relative;
    margin: 25px 30px;
}

.mes-list .photo1{
    background: url(image/Userpic4.png) no-repeat;
    background-size: cover;
}
.mes-list .photo2{
    background: url(image/Userpic1.png) no-repeat;
    background-size: cover;
}
.mes-container{
    position: relative;
    padding-left: 66px;
}
/* 方法一左浮动清除距离 */
/* .mes-list-photo{
    float: left;
    position: relative;
    width: 46px;
    height: 46px;
    margin-left: -100%;
    border-radius: 50%;
    margin-right: 20px;
} */
/* 方法二直接绝对定位 */
.mes-list-photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 20px;
}
.con-time{
    margin-bottom: 10px;
    font-weight: bold;
}
.con-time .con-name{
    font-size: 16px;
    margin-right: 10px;
}
.con-time .talktime{
    color: #7f8fa4;
}

.time-line{
    text-align: center;
    position: relative;
}
.time-line hr{
    
    border: none;
    width: 100%;
    height: 1px;
    background: #e6e9ec;
}
/* 通过绝对定位让蚊子浮动到线中间，左距离为一半宽度-自身的一半宽度 */
.time-line p{
    position: absolute;
    padding: 0 20px;
    transform: translateX(-50%);
    top: -0.5em;
    left: 50%;
    line-height: 1em;
    background: #fff;
    color: #7f8fa4;
}
.photo-item{
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap row;
}
.photo-item .photo-li{
    position: relative;
    width: 156px;
    height: 100px;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 15px;
}
.photo-item .img-shadow{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.img-shadow img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.photo-li:hover .img-shadow{
    display: block;
}
.line-new p{
    color: #2399f1;
}
.line-new hr{
    background: #2399f1;
}

.message-input{
    display: flex;
    margin: 10px 30px 30px;
    height: 54px;
    border: 1px solid #dfe3e9;
    border-radius: 4px;
    overflow: hidden;
}
.message-input .input-add{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 54px;
    border-right: 1px solid #dfe3e9;
    background: linear-gradient(to bottom,#fff,#f1f3f7);
}
.message-input input{
    flex: 1;
    padding: 0 30px;
    border: none;
}